In [ ]:
import numpy as np
import matplotlib.pyplot as plt
import pandas as pd
import seaborn as sns
#train test split in dataset
#1st u have to import dataset
#then u have to separate input and output

In [2]:
df=pd.read_csv(r"C:\Users\USER\Downloads\Desktop\ML\dataset\BostonHousing.csv")
df.head()

,crim,zn,indus,chas,nox,rm,age,dis,rad,tax,ptratio,b,lstat,medv
0,0.00632,18.0,2.31,0,0.538,6.575,65.2,4.0900,1,296,15.3,396.90,4.98,24.0
1,0.02731,0.0,7.07,0,0.469,6.421,78.9,4.9671,2,242,17.8,396.90,9.14,21.6
2,0.02729,0.0,7.07,0,0.469,7.185,61.1,4.9671,2,242,17.8,392.83,4.03,34.7
3,0.03237,0.0,2.18,0,0.458,6.998,45.8,6.0622,3,222,18.7,394.63,2.94,33.4
4,0.06905,0.0,2.18,0,0.458,7.147,54.2,6.0622,3,222,18.7,396.90,5.33,36.2

In [ ]:
input=df.iloc[:,:-1]
output=df["medv"]

In [1]:
from sklearn.model_selection import train_test_split

In [6]:
x_train,x_test,y_train,y_test=train_test_split(input,output,test_size=0.2)

In [7]:
x_test

,crim,zn,indus,chas,nox,rm,age,dis,rad,tax,ptratio,b,lstat
132,0.59005,0.0,21.89,0,0.6240,6.372,97.9,2.3274,4,437,21.2,385.76,11.12
464,7.83932,0.0,18.10,0,0.6550,6.209,65.4,2.9634,24,666,20.2,396.90,13.22
391,5.29305,0.0,18.10,0,0.7000,6.051,82.5,2.1678,24,666,20.2,378.38,18.76
383,7.99248,0.0,18.10,0,0.7000,5.520,100.0,1.5331,24,666,20.2,396.90,24.56
425,15.86030,0.0,18.10,0,0.6790,5.896,95.4,1.9096,24,666,20.2,7.68,24.39
...,...,...,...,...,...,...,...,...,...,...,...,...,...
432,6.44405,0.0,18.10,0,0.5840,6.425,74.8,2.2004,24,666,20.2,97.95,12.03
199,0.03150,95.0,1.47,0,0.4030,6.975,15.3,7.6534,3,402,17.0,396.90,4.56
203,0.03510,95.0,2.68,0,0.4161,7.853,33.2,5.1180,4,224,14.7,392.78,3.81
303,0.10000,34.0,6.09,0,0.4330,6.982,17.7,5.4917,7,329,16.1,390.43,4.86
422,12.04820,0.0,18.10,0,0.6140,5.648,87.6,1.9512,24,666,20.2,291.55,14.10

In [8]:
x_train

,crim,zn,indus,chas,nox,rm,age,dis,rad,tax,ptratio,b,lstat
82,0.03659,25.0,4.86,0,0.426,6.302,32.2,5.4007,4,281,19.0,396.90,6.72
174,0.08447,0.0,4.05,0,0.510,5.859,68.7,2.7019,5,296,16.6,393.23,9.64
370,6.53876,0.0,18.10,1,0.631,7.016,97.5,1.2024,24,666,20.2,392.05,2.96
80,0.04113,25.0,4.86,0,0.426,6.727,33.5,5.4007,4,281,19.0,396.90,5.29
198,0.03768,80.0,1.52,0,0.404,7.274,38.3,7.3090,2,329,12.6,392.20,6.62
...,...,...,...,...,...,...,...,...,...,...,...,...,...
18,0.80271,0.0,8.14,0,0.538,5.456,36.6,3.7965,4,307,21.0,288.99,11.69
489,0.18337,0.0,27.74,0,0.609,5.414,98.3,1.7554,4,711,20.1,344.05,23.97
90,0.04684,0.0,3.41,0,0.489,6.417,66.1,3.0923,2,270,17.8,392.18,8.81
410,51.13580,0.0,18.10,0,0.597,5.757,100.0,1.4130,24,666,20.2,2.60,10.11
4,0.06905,0.0,2.18,0,0.458,7.147,54.2,6.0622,3,222,18.7,396.90,5.33

In [9]:
y_test

132    23.0
464    21.4
391    23.2
383    12.3
425     8.3
       ...
432    16.1
199    34.9
203    48.5
303    33.1
422    20.8
Name: medv, Length: 102, dtype: float64

In [10]:
y_train

82     24.8
174    22.6
370    50.0
80     28.0
198    34.6
       ...
18     20.2
489     7.0
90     22.6
410    15.0
4      36.2
Name: medv, Length: 404, dtype: float64